/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.user-style {
  left: 13%;
  margin-right: 19%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.main-content {
  width: 90%;
}
